{% extends "template.html" %}
{% block title %}{{pagetitle}}{% endblock %}
{% block content %}
    <head>
        <link rel="stylesheet" href="../static/styles/timeline.css">
        <link rel="stylesheet" href="../static/styles/coderimage.css">
    </head>
    <body>

    <h2>Input new timeline</h2>
    {#<form id="form" action="/api/timeline_post" method="POST">
        <input type="text" id="name" name="name" value="John"><br>
        <input type="email" id="email" name="email" value="john@mlh.io"><br>
        <input type="textarea" id="content" name="content" value="This is some dummy text for the timeline"><br>
        <button type="submit">Submit</button>
    </form>#}

    <form id="form">
        <input type="text" id="name" name="name" value="John"><br>
        <input type="email" id="email" name="email" value="john@mlh.io"><br>
        <input type="textarea" id="content" name="content" value="This is some dummy text for the timeline"><br>
        <button type="submit">Submit</button>
    </form>


    <table id="posts">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Content</th>
            <th>Created At</th>
        </tr>
        {% for timeline_post in timeline_posts %}
            <tr>
                <td>{{ timeline_post.name }}</td>
                 <td>{{ timeline_post.email }}</td>
                 <td>{{ timeline_post.content }}</td>
                <td>{{ timeline_post.created_at }}</td>
            </tr>
        {% endfor %}
    </table>

    <script>
/*
       { const url = '/api/timeline_post'
        const posts = document.getElementById('posts');
        window.onload = getPosts(url)
        async function getPosts(url) {
            const response = await fetch(url);
            var data = await response.json();
            show(data.timeline_posts)
        }
}

        function show(data) {
            //console.log(data);
            let tab =
                `<tr>
                <th>Name</th>
                <th>Email</th>
                <th>Content</th>
                <th>Created At</th>
                </tr>`;
            for (let r of data) {
                tab += `<tr>
                <td>${r.name} </td>
                <td>${r.email}</td>
                <td>${r.content}</td>
                <td>${r.created_at}</td>
                </tr>`;
            }
            posts.innerHTML = tab;
        }
*/
        const form = document.getElementById('form');
        const url = '/api/timeline_post';
        form.addEventListener('submit', function(e) {
            console.log('splitting work')
            ///console.log("Start of event listener");
            // Prevent default behavior:
            e.preventDefault();
            // Create payload as new FormData object
            const payload = new FormData(form);
            // Post the payload using Fetch:
            fetch(url, {
            method: 'POST',
            body: payload,
            })
            .then(res => res.json())
            .then(data => {
                console.log(data)
                console.log('trying to reload ?')
                window.location.reload(true);
            })
            getPosts(url)

        })
    </script>

{% endblock %}
</body>