{% extends "template.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
    <head>
        <link rel="stylesheet" href="../static/styles/timeline.css">
        <link rel="stylesheet" href="../static/styles/coderimage.css">
    </head>
    <body>

    <h2>Input new timeline</h2>
    <form id="form" action="/api/timeline_post" method="POST">
        <input type="text" id="name" name="name" value="John"><br>
        <input type="email" id="email" name="email" value="john@mlh.io"><br>
        <input type="textarea" id="content" name="content" value="This is some dummy text for the timeline"><br>
        <button type="submit">Submit</button>
    </form>

    <script>

        console.log("Start of script");
        const form = document.getElementById('form');

        form.addEventListener('submit', function(e) {
            console.log('splitting work')
            ///console.log("Start of event listener");
            // Prevent default behavior:
            //e.preventDefault();
            // Create payload as new FormData object:
            //  const payload = new FormData(form);
            // Post the payload using Fetch:
            // fetch('http://johnafolayan.duckdns.org:5000/api/timeline_post', {
            //    method: 'POST',
            //    body: payload,
            //})
            {#.then(res => res.json())#}
            {#.then(data => console.log(data))#}
        })
        //document.write([...payload])
    </script>
    <div class="posts">
    <h2>Timeline Post</h2>
    <ul>
        {% for event in events %}
            <li>Id: {{ event.id }}</li>
            <li>Name: {{ event.name }}</li>
            <li>Name: {{ event.email }}</li>
            <li>Content: {{ event.content }}</li>
            <li>Created at: {{ event.created_at }}</li>
        {% endfor %}
    </ul>
{% endblock %}
</div>

</body>
